---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { Icon } from "astro-icon";
import { t } from "@util/translate";
import Newsletter from "@components/form/NewsletterFooter.vue";

const today = new Date();
let about = await getEntry("config", "about");
let contact = await getEntry("config", "contact");
let navigation = await getEntry("config", "navigation");

const showNewsletter = !!import.meta.env.NEWSLETTER_PROVIDER;
---

<footer class="surface-footer grid grid-cols-1 gap-8 py-8">
  <div class="container-xl flex flex-wrap gap-4">
    {
      navigation.data.footer_menus &&
        navigation.data.footer_menus.map((menu) => (
          <div class="min-w-[10rem] space-y-3 sm:max-w-[14rem]">
            <div class="text-sm font-semibold">{menu.label}</div>
            <div class="grid grid-cols-1 gap-0.5 space-y-1 text-xs">
              {menu.links.map((link) => (
                <a
                  rel="noopener noreferrer"
                  href={link.href}
                  class="btn-replace mr-auto"
                  data-replace={link.label}
                >
                  <span>{link.label}</span>
                </a>
              ))}
            </div>
          </div>
        ))
    }

    {
      showNewsletter && (
        <div class="flex-col content-end items-end justify-end gap-2 py-0 pt-8 sm:ml-auto sm:flex sm:max-w-md sm:pt-0 sm:text-right">
          <div
            class="richtext dense no-lead balance text-xl leading-none opacity-80"
            set:html={marked.parse(about.data.newsletter_text)}
          />
          <Newsletter client:visible />
        </div>
      )
    }
  </div>
  <div class="container-xl mb-4 flex items-end justify-between gap-4">
    <div class="grid grid-cols-1 gap-4">
      <a rel="noopener noreferrer" href="#" aria-label={t("back_to_home")}>
        <Icon name="logo-footer" class="h-6" />
      </a>

      {
        about.data.footer_text && (
          <div
            class="balance max-w-sm pr-4 text-sm opacity-70"
            set:html={marked.parse(about.data.footer_text)}
          />
        )
      }
      {
        contact.data.social && (
          <div class="-ml-1 flex flex-wrap justify-start gap-2 ">
            {contact.data.social.map((link) => (
              <a
                href={link.href}
                class="grid h-full place-items-center transition-transform duration-500 hover:scale-110 "
                target="_blank"
                aria-label={link.label}
              >
                <Icon name={link.icon} class="h-5 w-5" />
              </a>
            ))}
          </div>
        )
      }
      <div class="mt-auto flex gap-2 pt-4 text-xs opacity-70">
        <span>&copy;{today.getFullYear()}</span>
        <span> {about.data.sitename}</span>
      </div>
    </div>

    <a
      href="https://bhakta.us"
      target="_blank"
      rel="noopener noreferrer"
      class="group inline-flex flex-col items-center gap-1.5 rounded-md p-2 text-center text-xs tracking-widest shadow-inset-s"
    >
      <sup class="pointer-events-none pt-2 opacity-70">powered by</sup>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="128" height="128" viewBox="0 0 128 128"><g transform="matrix(0.5508021390374331,0,0,0.5508021390374331,28.68921779055603,12.760752631578946)"><svg viewBox="0 0 65 95" data-background-color="#000000" preserveAspectRatio="xMidYMid meet" height="187" width="128" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="tight-bounds" transform="matrix(1,0,0,1,0.054805655020587096,-0.24049999999999727)"><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g id="textblocktransform"><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881" id="textblock"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="6.484999999999999 2 19.029240197723595 28" enable-background="new 0 0 32 32" xml:space="preserve" height="95.481" width="64.89038868995881" class="icon-icon-0" data-fill-palette-color="accent" id="icon-0"></svg></g></svg></g></svg></g></svg></g></svg></g><g></g></svg></g><defs></defs><mask id="af87346c-666d-42d9-9035-b357b2a1c294"><g id="SvgjsG1096"><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g id="SvgjsG1095"><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881" id="SvgjsSvg1094"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg viewBox="0 0 64.89038868995881 95.481" height="95.481" width="64.89038868995881"><g><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="6.484999999999999 2 19.029240197723595 28" enable-background="new 0 0 32 32" xml:space="preserve" height="95.481" width="64.89038868995881" class="icon-icon-0" data-fill-palette-color="accent" id="SvgjsSvg1093"><path d="M24.485 2c0 8-18 4-18 20 0 6 2 8 2 8h2c0 0-3-2-3-8 0-4 9-8 9-8s-7.981 4.328-7.981 8.436C21.239 24.431 28.288 9.606 24.485 2z" fill="white"></path></svg></g></svg></g></svg></g></svg></g></svg></g><g></g></svg></g><defs><mask></mask></defs></svg><rect width="64.89038868995881" height="95.481" fill="black" stroke="none" visibility="hidden"></rect></g></mask><linearGradient x1="0" x2="1" y1="0.578" y2="0.595" id="19bc02bf-b20e-4315-9bec-ca02abcc3590"><stop stop-color="#dede50" offset="0"></stop><stop stop-color="#559c49" offset="1"></stop></linearGradient><rect width="64.89038868995881" height="95.481" fill="url(#19bc02bf-b20e-4315-9bec-ca02abcc3590)" mask="url(#af87346c-666d-42d9-9035-b357b2a1c294)" data-fill-palette-color="accent"></rect></svg><rect width="64.89038868995881" height="95.481" fill="none" stroke="none" visibility="hidden"></rect></g></svg></g></svg>
    </a>
  </div>
</footer>

<slot />
